
.checkOutSection{
    width:300px;
    border: 1px solid gray;
    text-align: center;
    padding-top: 2%;
}
.checkOutSection p{
    color:black;
}

.cartitems{
    width:100%;
}
.cartItem{
    width:100%;
}

.checkOutButton{
    padding: 4px;
    border-radius: 5px;
    margin-top: 5%;
}

.checkOutButton:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.cart{
    min-height: 85vh;
}

.cartPage{
    max-width: 2000px;
}

hr{
    border:0.5px solid rgb(213, 206, 206);
}

@media screen and (max-width:550px) {
    h1{
        text-align: center;
        font-size: 1.5rem;
    }

    .checkOutSection{
        width: 100%;
        padding-bottom: 1rem;
    }

    .cart{
        min-height: 75vh;
    
        margin-right: 0;
    }
    .cartPage{
        max-width: 100vw;
    }

}


@media screen and (min-width:500px) {
    checkOutSection{
        border: 1px solid gray;
        margin-left: 5%;
    }
    .cartPage{
        display: flex;
    }
    .cart{
        max-width: 70vw;
    }

}