
.checkOutSection{
    width:300px;

    margin-left: 0;
}

.cartitems{
    width:100%;
}
.cartItem{
    width:100%;
}

.checkOutButton{
    padding: 4px;
    border-radius: 5px;

   cursor: pointer;

}
.cart{
    min-height: 85vh;
}

.cartPage{
    max-width: 2000px;
}

@media screen and (max-width:500px) {
    h1{
        text-align: center;
        font-size: 1.5rem;
    }

}