
.cartitem{
    border:1px solid black;
    padding: 5px;
    display: flex;
    
}
.cartItemImage{
    height: 150px;
    width: 200px;
}
.cartItemDescription{

    padding-right: 60%;
}

.name{
    font-size: 1.5rem;
}

.price{
    font-weight: bold;
    font-size: 1.2rem;
}

.delete{
    height: 30px;
}

.nameLink{
    text-decoration: none;
    color: black;
}

.quantityAdjust{
    display:inline-flex;
}

.quantityAdjust p{
    margin: 3px;
}

@media screen and (max-width:500px) {
    .cartItemImage{
        width:30vw;
        margin-right: 5vw;
    }
    .cartitem{
        width:100vw;
    }
}