
.cartitem{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
}

hr{
    border: 0.5px solid rgb(213, 206, 206);
}
.cartItemImage{
    height: 150px;
    width: 200px;
    margin:3% 0;
}
.cartItemDescription{
    padding-left: 2%;
    padding-right: 60vw;
}

.name{
    font-size: 1.25rem;
}

.price{
    font-weight: bold;
    font-size: 1.1rem;
}

.delete{
    height: 30px;
    position: absolute;
    right:5vw;
    top:5vh;
    cursor: pointer;
}

.nameLink{
    text-decoration: none;
    color: black;
}

.quantityAdjust{
    display:inline-flex;
    background-color: rgb(236, 236, 236, 0.671);
    border: 1px solid rgb(213, 206, 206);
    padding: 5%;
    border-radius: 5px;
    font-size: 1rem;
    width:12vw;
    max-width: 100px;
}

.quantityAdjust p{
    margin: 3px;
}

#plus, #minus{
    height: 20px;
    width:20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
}


.quantity-item{
    color:black;
}


@media screen and (max-width:500px) {
    .cartItemImage{
        width:30vw;
        margin-right: 5vw;
    }
    .cartitem{
        width:100vw;
    }
    .quantityAdjust{
        width: 10rem;
    }
}


@media screen and (min-width:500px) {
  
}